body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar{
    position:fixed;
    background-color: #34495e;
    text-align: right;
    color: white;
    top:0;
    bottom: 0;
    left:0;
    width:20%;
    min-width: 150px;
    height:100%;
    margin-left: 1%;
    z-index: 9;
}
.content{
    position: absolute;
    background-color: white;
    width:78%;
    min-width: 500px;
    height: 100%;
    float:right;
    right:0;
}
.sidebar .school{
    font-style: italic;
    padding: 2px;
}
.inline{
    display: inline;
}
.sidebar img{
    height:100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
.sidebar .intro{
    position: relative;
    top:30%;
    right:5%;
}
.sidebar .bttn{
    background-color: #34495e;
    float: right;
    text-align: center;
    border: 1px solid #3498DB;
    padding: 5px;
    margin: 10px;
}
a:hover{
    color: #BDC3C7;
    text-decoration: none;
}
.center{
    position: relative;
    top:30%;
    text-align: center;

}
.content .project{
    position: relative;
    top:50%;
}

.project .blocktext{
    width:30%;
    padding: 10px;
    margin: 5px;
    float: left;
}

.project .blockpic{
    width:95%;
    margin: 5px;
    padding: 10px;
}

.blockpic .inline{
    display: inline-block;
    padding: 15px;
    margin-left: 50px;
    float: left;
    width: 40%;
}

img{
    width: 450px;
    height: 280px;
}

.center h1{
    margin-bottom: 100px;
}

.center .rainbow{
    margin-top:100px; 
}

.content .bttn{
    background-color:white;
    text-align: center;
    border: 1px solid #3498DB;
    padding: 5px;
}
.rainbow{
    width:100%;
    color: white;
}

.bow{
    display: inline-block;
    float: left;
    height: 100px;
    text-align: left;
    padding: 5px;
    margin: 0;
}

.bow .small{
    font-size: 12px;
    line-height: 0.5;
}

.col1{
    background-color: #1abc9c;
    width: 9%;
}
.col2{
    background-color:#f1c40f;
    width: 9%;
}
.col3{
    background-color: #d35400;
    width: 9%;
}
.col4{
    background-color: #27ae60;
    width: 9%;
}
.col5{
    background-color: #2ecc71;
    width: 9%;
}
.col6{
    background-color: #3498db;
    width: 9%;
}
.col7{
    background-color: #2980b9;
    width: 9%;
}
.col8{
    background-color:#e74c3c;
    width: 9%;
}
.col9{
    background-color: #c0392b;
    width: 9%;
}
.col10{
    background-color:#9b59b6 ;
    width: 9%;
}