body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar{
    position:fixed;
    background-color: #34495e;
    text-align: right;
    color: white;
    top:0;
    bottom: 0;
    left:0;
    width:20%;
    min-width: 150px;
    height:100%;
    margin-left: 1%;
    z-index: 9;
}
.content{
    position: absolute;
    background-color: white;
    width:78%;
    min-width: 500px;
    height: 100%;
    float:right;
    top:0;
    right:0;
}
.sidebar .school{
    font-style: italic;
    padding: 2px;
}
.inline{
    display: inline;
}
.sidebar img{
    height:100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
.sidebar .intro{
    position: relative;
    top:30%;
    right:5%;
}
.sidebar .bttn{
    background-color: #34495e;
    float: right;
    text-align: center;
    border: 1px solid #3498DB;
    padding: 5px;
    margin: 10px;
}
a:hover{
    color: #BDC3C7;
    text-decoration: none;
}
.center{
    position: relative;
    text-align: center;

}

.center .introduce{
    padding-top: 50px;
}

.content .project{
    height: auto;
    clear: both;
    padding: 10px;
    margin-top: 20px;

}

.project .blocktext{
    width:30%;
    padding: 10px;
    margin: 5px;
    float: left;
    height: auto;
}

.blocktext p{
    padding-bottom: 10px;
}

img{
    width: 450px;
    height: 280px;
}


.center .rainbow{
    margin-top:80px; 
}

.content .bttn{
    background-color:white;
    text-align: center;
    border: 1px solid #3498DB;
    padding: 5px;
}
.rainbow{
    width:100%;
    color: white;
}

.bow{
    display: inline-block;
    float: left;
    height: 100px;
    text-align: left;
    padding: 5px;
    margin: 0;
}

.bow .small{
    font-size: 12px;
    line-height: 0.5;
    color: #ecf0f1;
}

.col1{
    background-color: #16A085;
    width: 9%;
}
.col2{
    background-color: #F39C12;
    width: 9%;
}
.col3{
    background-color: #27AE60;
    width: 9%;
}
.col4{
    background-color: #D35400;
    width: 9%;
}
.col5{
    background-color: #2980B9;
    width: 9%;
}
.col6{
    background-color: #C0392B;
    width: 9%;
}
.col7{
    background-color: #8E44AD;
    width: 9%;
}
.col8{
    background-color:#1ABC9C;
    width: 9%;
}
.col9{
    background-color: #2ECC71;
    width: 9%;
}
.col10{
    background-color:#3498DB ;
    width: 9%;
}
#emailWarn{
    float:right;
    line-height: 1.5;
    margin-top: 20px;
}
.cans{
    padding: 50px;
    position: static;
}